<section class="pictures">
  <div class="pictures_header">
    <form class="search-form" id="search-form">
      <div class="input_box">
        <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
        />
        <button class='submit-btn' type="submit">
          <svg class="icon_search" width="15" height="15">
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
  <button type="button" class="scroll-up-btn visually_hidden">
    <svg class="icon_up" width="15" height="15">
      <use href="./images/symbol-defs.svg#icon-arrow-up"></use>
    </svg>
  </button>
  <button type="button" class="scroll-down-btn visually_hidden">
    <svg class="icon_down" width="15" height="15">
      <use href="./images/symbol-defs.svg#icon-arrow-down"></use>
    </svg>
  </button>
  <div class="gallery-box">
  <div class="gallery"></div>
  </div>
  <button type="button" class="load-more visually_hidden">LOAD more</button>
</section>